<launch>

<!-- Use External I/O -->
<arg name="use_RTK-GNSS" value="false"/>
<arg name="use_Velodyne" value="true"/>
<arg name="use_Ninebot_Serial" value="true"/>

<!-- Device Alias -->
<arg name="rtk_device_name" value="usb_rsaq5"/>
<arg name="serial_device_name" value="nucleo"/>
<!-- <arg name="serial_device_name" value="pts/24"/> -->

<!-- RTK-GNSS -->
<group if="$(arg use_RTK-GNSS)">
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">
    <param name="port" value="/dev/$(arg rtk_device_name)"/>
    <param name="baud" value="115200"/>
    </node>
</group>

<!-- Velodyne VLP-16 -->
<group if="$(arg use_Velodyne)">
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <arg name="calibration" value="$(env HOME)/VLP16-HiRes.yaml"/>

    <!-- push pointcloud_to_laserscan nodelet into sensor's nodelet manager-->
    <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan_nodelet" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet velodyne_nodelet_manager">
        <remap from="cloud_in" to="velodyne_points"/>
        <remap from="scan" to="scan_converted"/>

        <rosparam>
            # target_frame: camera_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: 0.0
            max_height: 2.0

            angle_min: -1.5708 # -M_PI/2
            angle_max: 1.5708 # M_PI/2
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.1
            range_max: 4.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing, thread number governed by nodelet manager
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>
    </node>
</group>

<!-- Ninebot Serial -->
<group if="$(arg use_Ninebot_Serial)">
    <node pkg="tms_rc_rtkbot" type="ninebot_serial" name="ninebot_serial" output="screen">
    <param name="port" value="/dev/$(arg serial_device_name)"/>
    </node>
</group>

</launch>
