<launch>

<group ns="portable1">

  <!-- portable indicator -->
  <node pkg="tms_rc_rtkbot" type="portable_indicator" name="portable_indicator" output="screen" />

  <!-- ninebot serial -->
  <node pkg="tms_rc_rtkbot" type="ninebot_serial" name="ninebot_serial" output="screen">
    <!-- <param name="port" value="/dev/ttyACM0"/> -->
    <param name="port" value="/dev/nucleo"/>
  </node>
  
</group>

<!-- RTK-GPS -->
  <!-- nmea_serial_driver -->
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">
      <param name="port" value="/dev/ublox"/>
    </node>

<!-- Velodyne VLP-16 -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  
</launch>
