<launch>

<group ns="portable1">

  <!-- portable indicator -->
  <arg name="move_base" default="true"/>
  <node pkg="tms_rc_rtkbot" type="portable_indicator" name="portable_indicator" output="screen" if="$(arg move_base)"/>

  <!-- ninebot serial -->
  <node pkg="tms_rc_rtkbot" type="ninebot_serial" name="ninebot_serial" output="screen">
    <param name="port" value="/dev/nucleo"/>
  </node>
  
</group>

<!-- RTK-GPS -->
<!-- <node pkg="ublox_gps" type="ublox_gps" name="ublox_gps" output="screen">
  <rosparam file="$(find tms_rc_rtkbot)/param/rover.yaml"/>
  <param name="device"     value="/dev/ttyACM1"/>
  <param name="frame_id"   value="rtk"/>
</node> -->

</launch>
