<launch>
    <arg name="unit_test" default="true"/>
    <group if="$(arg unit_test)">

    <arg name="publish_nmea_sentence" default="true"/>
    <group if="$(arg publish_nmea_sentence)">
        <!-- nmea_topic_serial_reader -->
        <node pkg="nmea_navsat_driver" type="nmea_topic_serial_reader" name="nmea_topic_serial_reader" output="screen">
            <param name="port" value="/dev/ublox"/>
        </node>
        <!-- nmea_topic_driver -->
        <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" output="screen">
        </node>
    </group>

    <group unless="$(arg publish_nmea_sentence)">
        <!-- nmea_serial_driver -->
        <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">
            <param name="port" value="/dev/ublox"/>
        </node>
    </group>

    </group>

    <group unless="$(arg unit_test)">
        <!-- nmea_serial_driver -->
        <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_driver" output="screen">
            <param name="port" value="/dev/ublox"/>
        </node>

        <!-- rtkgps_measured -->
        <node pkg="tms_rc_rtkbot" type="rtkgps_measured" name="rtkgps_measured" output="screen">
            <!-- Frame, Topic -->
            <param name="map_frame_name" value="map"/>
            <param name="odom_frame_name" value="odom"/>
            <param name="out_topic_name" value="odometry/measured"/>
            <!-- GNSS -->
            <param name="origin_lat" value="33.599053"/>
            <param name="origin_lon" value="130.211607"/>
            <param name="angle_offset" value="0"/>
            <param name="scale_offset" value="1"/>
            <param name="sel_solutions" value="fix"/>
        </node>
    </group>

</launch>
