<launch>
  <group ns="urg1">
    <machine name="p2sen_1" address="p2sen_1" env-loader="/home/odroid/env.bash" user="odroid" password="odroid"/>

    <node machine="p2sen_1" pkg="urg_node" name="urg_node" type="urg_node">
      <param name="ip_address" value="192.168.0.10"/>
      <param name="angle_min" value="-1.832595714595"/>
      <param name="angle_max" value=" 1.832595714595"/>
    </node>

    <node machine="p2sen_1" pkg="tms_ss_pot" type="change_nan" name="change_nan">
      <remap from="/most_intense" to="/urg1/most_intense"/>
      <remap from="/LaserTracker" to="/LaserTracker1"/>
    </node>
  </group>

  <group ns="urg2">
    <machine name="p2sen_2" address="p2sen_2" env-loader="/home/odroid/env.bash" user="odroid" password="odroid"/>

    <node machine="p2sen_2" pkg="urg_node" name="urg_node" type="urg_node">
      <param name="ip_address" value="192.168.0.10"/>
      <param name="angle_min" value="-1.832595714595"/>
      <param name="angle_max" value=" 1.832595714595"/>
    </node>

    <node machine="p2sen_2" pkg="tms_ss_pot" type="change_nan" name="change_nan">
      <remap from="/most_intense" to="/urg2/most_intense"/>
      <remap from="/LaserTracker" to="/LaserTracker2"/>
    </node>
  </group>

  <group ns="urg3">

    <machine name="p2sen_3" address="p2sen_3" env-loader="/home/odroid/env.bash" user="odroid" password="odroid"/>

    <node machine="p2sen_3" pkg="urg_node" name="urg_node" type="urg_node">
      <param name="ip_address" value="192.168.0.10"/>
      <param name="angle_min" value="-1.832595714595"/>
      <param name="angle_max" value=" 1.832595714595"/>
    </node>

    <node machine="p2sen_3" pkg="tms_ss_pot" type="change_nan" name="change_nan">
      <remap from="/most_intense" to="/urg3/most_intense"/>
      <remap from="/LaserTracker" to="/LaserTracker3"/>
    </node>

  </group>

  <group ns="urg4">

    <machine name="p2sen_4" address="p2sen_4" env-loader="/home/odroid/env.bash" user="odroid" password="odroid"/>

    <node machine="p2sen_4" pkg="urg_node" name="urg_node" type="urg_node">
      <param name="ip_address" value="192.168.0.10"/>
      <param name="angle_min" value="-1.832595714595"/>
      <param name="angle_max" value=" 1.832595714595"/>
    </node>

    <node machine="p2sen_4" pkg="tms_ss_pot" type="change_nan" name="change_nan">
      <remap from="/most_intense" to="/urg4/most_intense"/>
      <remap from="/LaserTracker" to="/LaserTracker4"/>
    </node>

  </group>    
</launch>

<!-- @ ToDo -->
      <!-- 270 deg -->
      <!-- <param name="angle_min" value="-2.35619449019"/>
      <param name="angle_max" value=" 2.35619449019"/>  -->
